@charset "UTF-8";
/* CSS Document */

    body, html {
        height: 100%;
        margin: 0;
    }

  	* {
    		box-sizing: border-box;
  	}

  	hr {
    		border: 1px solid #f1f1f1;
    		margin-bottom: 25px;
  	}

  	/* Clear floats */
  	.clearfix::after {
    		content: "";
    		clear: both;
    		display: table;
  	}

    #test_sect{
      height: 900px;
      transition: 0.6s;
    }

    #famouspaintings_title{
      color: black;
      padding-top: 10px;
      font-family: 'Meddon', cursive;
      font-size: 60px;
      text-align: center;
    }

    .sec1_column{
    	float: left;
    	padding: 10px;
    }

    .sec1_row{
    	padding: 0px 150px;
    }

    .sec1_left{
      width: 55%;
    }

    .sec1_right{
      width: 45%;
    }

    #sec1 {
        padding: 2px 60px 10px;
    }

    @media screen and (max-width: 700px) {
        #sec1 {
            padding: 2px 60px 0px;
        }
    }

	/* Content */
    .column {
        float: left;
        width: 50%;
        padding: 0px 5px;
    }

    @media screen and (max-width: 800px) {
        .column {
            width: 100%;
        }
    }

    .row{
        padding: 0px 20px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .famouspaintings_column {
        float: left;
        width: 100%;
        padding: 10px;
    }

    .famouspaintings_row {
        padding: 0px 150px;
    }

    /* Clear floats after the columns */
    .famouspaintings_row:after {
        content: "";
        display: table;
        clear: both;

    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        cursor: pointer;
    }

    .container {
        padding: 2px 16px;
    }
