@charset "UTF-8";
/* CSS Document */

body, html{
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#sec1_block_design_bkg{
	background-color: #f5f0ff;
	padding: 10px;
	height: 500px;
	transition: 0.6s;
}

@media screen and (max-width: 935px){
  #sec1_block_design_bkg{
    height: 450px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 815px){
  #sec1_block_design_bkg{
    height: 370px;
    transition: 0.6s;
  }
}

@media screen and (max-width:720px){
  #sec1_block_design_bkg{
    height: 450px;
    transition: 0.6s;
  }
}

#sec1_block_design_bkg2{
  border: 4px solid #282828;
  width: 55.5%;
	height: 400px;
  margin-top: -430px;
  margin-left: 25px;
	transition: 0.6s;
}

@media screen and (max-width: 935px){
  #sec1_block_design_bkg2{
    width: 59%;
    height: 350px;
    margin-top: -360px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 720px){
  #sec1_block_design_bkg2{
    width: 85%;
    height: 380px;
    margin-top: -300px;
    margin-left:10px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 540px){
  #sec1_block_design_bkg2{
    width: 85%;
    height: 290px;
    margin-top: -250px;
    margin-left:10px;
    transition: 0.6s;
  }
}

.sec1_row{
  margin: 0px -10px;
}

.sec1_column{
  float: left;
  padding: 0px 10px;
  transition: 0.6s;
}

.column_left{
  width: 60%;
}

.column_right{
  width: 40%;
}

.sec1_row:after{
  content: "";
  display: table;
  clear: both;
}

#about_salvador_dali_img{
  padding-top: 20px;
  margin-top: -400px;
  width:60%;
  transition: 0.6s;
}

@media screen and (max-width: 935px){
  #about_salvador_dali_img{
    padding-top: 0px;
    margin-top: -330px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 815px){
  #about_salvador_dali_img{
    margin-top: -280px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 720px){
  #about_salvador_dali_img{
    margin-top: -360px;
    padding: 0px 30px;
    width:100%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 540px){
  #about_salvador_dali_img{
    margin-top: -280px;
    padding: 0px 30px;
    width:100%;
    transition: 0.6s;
  }
}

#about_salvador_dali_heading{
  color: #282828;
  font-size: 70px;
  top: 15%;
  left:55%;
  width: 50%;
  padding: 20px 70px;
  text-align: center;
  font-family: 'Meddon', cursive;
  position: absolute;
  transition: 0.6s;
}

@media screen and (max-width: 1075px){
  #about_salvador_dali_heading{
    font-size: 60px;
    top: 20%;
    left:54%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 935px){
  #about_salvador_dali_heading{
    font-size: 50px;
    top: 25%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 815px){
  #about_salvador_dali_heading{
    font-size: 40px;
    top: 15%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 720px){
  #about_salvador_dali_heading{
    font-size: 40px;
    left:0%;
    padding: 0px;
    width: 100%;
    top: 10%;
    transition: 0.6s;
  }
}

#sec1{
  background-color: white;
  padding: 40px 60px 10px;
  height: 800px;
  transition: 0.6s;
}

@media screen and (max-width: 1000px){
  #sec1{
    padding: 40px 30px 10px;
    height: 1200px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #sec1{
    padding: 40px 30px 10px;
    height: 1350px;
    transition: 0.6s;
  }
}

.coloured-title{
  color: black;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
}

a:hover{
  color: #c73aaf;
  font-weight: bold;
  text-decoration: none;
}

.container{
  position: relative;
  text-align: center;
  color: white;
}

.accordion{
  background-color: #ded3f2;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 5px 0px;
}

.accordion:hover{
  color: white;
  background-color: #c6b8de;
}

.panel{
  padding: 0 18px;
  background-color: #f5f0ff;
  display: none;
  overflow: hidden;
}

/* .sec1_column{
  float: left;
  width: 100%;
  padding: 10px;
}

.sec1_row:after {
  content: "";
  display: table;
  clear: both;
} */
