@charset "UTF-8";
/* CSS Document */
body, html{
  height: 100%;
  margin: 0;
}

#about_salvador_dali_heading{
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-size: 70px;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px 70px;
  text-align: center;
  transition: 0.6s;
}

@media screen and (max-width: 1045px){
  #about_salvador_dali_heading{
    width: 70%;
    padding: 20px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #about_salvador_dali_heading{
    font-size: 60px;
    width: 80%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 550px){
  #about_salvador_dali_heading{
    font-size: 50px;
    transition: 0.6s;
  }
}

#about_salvador_dali_img{
  height: 100%;
  display: block;
  margin: 0px auto;
  transition: 0.6s;
}

#sec1{
  background-color: white;
  padding: 40px 60px 10px;
  height: 1000px;
  transition: 0.6s;
}

@media screen and (max-width: 800px){
  #sec1{
    padding: 40px 30px 10px;
    height: 1400px;
    transition: 0.6s;
  }
}

.coloured-title{
  color: black;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
}

a:hover{
  color: #c73aaf;
  font-weight: bold;
  text-decoration: none;
}

.container{
  position: relative;
  text-align: center;
  color: white;
}

.accordion{
  background-color: #bdbdbd;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 2px 0px;
}

.accordion:hover{
  color: white;
  background-color: #999999;
}

.panel{
  padding: 0 18px;
  background-color: #EFEEEE;
  display: none;
  overflow: hidden;
}
