@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

.sticky_header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 130px;
  background-color: #d3C4BE;
}

.books_title{
  color: black;
  font-family: 'Meddon', cursive;
  font-size: 60px;
  text-align: center;
  padding-top: 75px;
}

#sec1{
  background-color: white;
  padding-bottom: 350px;
}

#the_persistence_of_memory_description{
  padding: 60px 120px 0px 120px;
  text-align: center;
  transition: 0.6s;
}

@media screen and (max-width: 665px){
  #the_persistence_of_memory_description{
    padding: 60px 50px 30px 50px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 585px){
  #the_persistence_of_memory_description{
    padding: 60px 30px 30px 30px;
    transition: 0.6s;
  }
}

.row{
  margin-top: -50px;
}

.column{
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after{
  content: "";
  display: table;
  clear: both;
}

#the_secret_life_of_salvador_dali_title{
  position: inherit;
  margin-top: 220px;
  margin-left: 0px;
  color: #d3C4BE;
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
  transition: 0.6s;
}

@media screen and (max-width: 1345px){
  #the_secret_life_of_salvador_dali_title{
    margin-top: 180px;
    font-size: 35px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1100px){
  #the_secret_life_of_salvador_dali_title{
    margin-top: 160px;
    margin-left: -30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 995px){
  #the_secret_life_of_salvador_dali_title{
    margin-top: 140px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 930px){
  #the_secret_life_of_salvador_dali_title{
    margin-top: 130px;
    font-size: 25px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 900px){
  #the_secret_life_of_salvador_dali_title{
    margin-top: 110px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 750px){
  #the_secret_life_of_salvador_dali_title{
    margin-top: 80px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 665px){
  #the_secret_life_of_salvador_dali_title{
    margin-left: -12px;
    margin-top: 50px;
    font-size: 22px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 596px){
  #the_secret_life_of_salvador_dali_title{
    margin-top: 42px;
    margin-right: 10px;
    transition: 0.6s;
  }
}


@media screen and (max-width: 585px){
  #the_secret_life_of_salvador_dali_title{
    margin-top: 20px;
    transition: 0.6s;
  }
}

#the_secret_life_of_salvador_dali_text{
  margin-right: 55px;
  transition: 0.6s;
}

@media screen and (max-width: 1345px){
  #the_secret_life_of_salvador_dali_text{
    margin-right: 75px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1100px){
  #the_secret_life_of_salvador_dali_text{
    margin-left: -30px;
    margin-right: 55px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 750px){
  #the_secret_life_of_salvador_dali_text{
    margin-left: -30px;
    margin-right: 30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 665px){
  #the_secret_life_of_salvador_dali_text{
    margin-left: -12px;
    margin-right: 30px;
    transition: 0.6s;
  }
}

#the_secret_life_of_salvador_dali_img{
  width: 100%;
  padding: 60px;
  transition: 0.6s;
}

@media screen and (max-width: 930px){
  #the_secret_life_of_salvador_dali_img{
    padding: 30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 665px){
  #the_secret_life_of_salvador_dali_img{
    margin-left: 10px;
    padding: 10px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 550px){
  #the_secret_life_of_salvador_dali_img{
    margin-top: 10px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 538px){
  #the_secret_life_of_salvador_dali_img{
    margin-top: 18px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 512px){
  #the_secret_life_of_salvador_dali_img{
    margin-top: 25px;
    transition: 0.6s;
  }
}

#sec2{
  height:400px;
}

#diary_of_a_genuius_title{
  position: relative;
  margin-top: 10px;
  margin-left: 0px;
  padding-left: 200px;
  color: white;
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
  transition: 0.6s;
}

#diary_of_a_genuius_text{
  margin-left: 200px;
  transition: 0.6s;
}

#diary_of_a_genuius_img{
  width: 100%;
  margin-top: -350px;
  margin-left: -100px;
  padding: 120px;
  transition: 0.6s;
}

#sec3{
  height:1000px;
  transition: 0.6s;
}

@media screen and (max-width: 1180px){
  #sec3{
  height:800px;
  transition: 0.6s;
  }
}

.sec3_column{
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-top: 250px;
}

@media screen and (max-width: 1180px){
  .sec3_column{
    margin-top: 150px;
    transition: 0.6s;
  }
}

.sec3_row{
  margin-right: 200px;
  transition: 0.6s;
}

@media screen and (max-width: 1180px){
  .sec3_row{
    margin-left: -100px;
    margin-right: 70px;
    transition: 0.6s;
  }
}

.sec3row:after{
  content: "";
  display: table;
  clear: both;
}

#les_diners_de_gala_title{
  position: inherit;
  width: 100%;
  margin-top: 200px;
  margin-left: 120px;
  color: #d3C4BE;
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
  -ms-transform: rotate(-90deg); /* IE 9 */
  transform: rotate(-90deg);
  transition: 0.6s;
}

@media screen and (max-width: 1275px){
  #les_diners_de_gala_title{
    margin-top: 150px;
    font-size: 35px;
    transition: 0.6s;
  }
}

#les_diners_de_gala_text{
  margin-top: 40%;
  padding-right: 30px;
  transition: 0.6s;
}

@media screen and (max-width: 1355px){
  #les_diners_de_gala_text{
    margin-top: 36%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1300px){
  #les_diners_de_gala_text{
    margin-top: 30%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1233px){
  #les_diners_de_gala_text{
    margin-top: 20%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1180px){
  #les_diners_de_gala_text{
    margin-right: 100px;
    margin-top: 20%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1105px){
  #les_diners_de_gala_text{
    margin-top: 10%;
    transition: 0.6s;
  }
}


@media screen and (max-width: 1073px){
  #les_diners_de_gala_text{
    margin-top: 5%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1027px){
  #les_diners_de_gala_text{
    margin-top: 0%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 983px){
  #les_diners_de_gala_text{
    margin-top: -10%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 930px){
  #les_diners_de_gala_text{
    margin-top: 0%;
    margin-right: 50px;
    transition: 0.6s;
  }
}


@media screen and (max-width: 867px){
  #les_diners_de_gala_text{
    margin-top: -10%;
    margin-right: 30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #les_diners_de_gala_text{
    margin-top: -10%;
    margin-right: 0px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 750px){
  #les_diners_de_gala_text{
    margin-top: -2%;
    margin-right: -50px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 710px){
  #les_diners_de_gala_text{
    margin-top: -15%;
    transition: 0.6s;
  }
}

#les_diners_de_gala_img{
  width: 100%;
  transition: 0.6s;
}
