@charset "UTF-8";
/* CSS Document */

#sec1{
  height: 1800px;
}

@media screen and (max-width: 1200px){
  #sec1{
    height: 2000px;
  }
}

@media screen and (max-width: 800px){
  #sec1{
    height: 2450px;
  }
}

@media screen and (max-width: 673px){
  #sec1{
    height: 2300px;
  }
}

@media screen and (max-width: 580px){
  #sec1{
    height: 2000px;
  }
}

#sec1_block_design_bkg{
  background-color: #E4DAC2;
  margin-top: -50px;
  margin-left: 50%;
  padding: 10px;
  height: 880px;
  transition: 0.6s;
}

#sec1_block_design_bkg2{
  border: 3px solid #7a715b;
  background-color: transparent;
  position: inherit;
  margin-top: -100px;
  margin-left: 30%;
  width: 600px;
  height: 300px;
  transition: 0.6s;
}

@media screen and (max-width: 1147px){
  #sec1_block_design_bkg2{
    margin-top: -330px;
    margin-left: 52.5%;
    margin-bottom: 100px;
    width: 300px;
    height: 355px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #sec1_block_design_bkg2{
    margin-top: -330px;
    margin-left: 23%;
    margin-bottom: 100px;
    width: 500px;
    height: 355px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 755px){
  #sec1_block_design_bkg2{
    width: 480px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 720px){
  #sec1_block_design_bkg2{
    width: 460px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 705px){
  #sec1_block_design_bkg2{
    width: 440px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 675px){
  #sec1_block_design_bkg2{
    margin-top: -270px;
    width: 420px;
    height: 300px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #sec1_block_design_bkg2{
    width: 450px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 615px){
  #sec1_block_design_bkg2{
    width: 370px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 590px){
  #sec1_block_design_bkg2{
    margin-top: -230px;
    margin-left: 15%;
    width: 375px;
    height: 250px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 550px){
  #sec1_block_design_bkg2{
    margin-top: -180px;
    margin-left: 15%;
    width: 360px;
    height: 190px;
    transition: 0.6s;
  }
}

#sec2_block_design_bkg{
  background-color: #E4DAC2;
  margin-top: -550px;
  padding: 10px;
  height: 200px;
  transition: 0.6s;
}

#collaborations_title{
  color: black;
  margin-top: -740px;
  font-family: 'Meddon', cursive;
  font-size: 60px;
  text-align: center;
  transition: 0.6s;
}

@media screen and (max-width: 800px){
  #collaborations_title{
    font-size: 50px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 650px){
  #collaborations_title{
    font-size: 40px;
    transition: 0.6s;
  }
}

.sec1_column{
  float: left;
  width: 50%;
  padding: 0px 5px;
  margin-top: 100px;
}

@media screen and (max-width: 800px){
  .sec1_column{
    width: 100%;
  }
}

.sec1_row{
  padding: 100px 10px 0px 10px;
}

@media screen and (max-width: 600px){
  .sec1_row{
    padding: 10px 10px 0px 10px;
    transition: 0.6s;
  }
}

.sec1_row:after{
  content: "";
  display: table;
  clear: both;
}

#alfred_hitchcock_title1{
  position: absolute;
  color: white;
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
  margin-top: -180px;
  margin-left: -26%;
  width: 100%;
  text-align: center;
  transition: 0.6s;
}

@media screen and (max-width: 800px){
  #alfred_hitchcock_title1{
    display: none;
  }
}

#alfred_hitchcock_title2{
  display: none;
}

@media screen and (max-width: 800px){
  #alfred_hitchcock_title2{
    display: block;
    color: #7a715b;
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    margin-top: -430px;
    text-align: center;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #alfred_hitchcock_title2{
    margin-top: -550px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 590px){
  #alfred_hitchcock_title2{
    margin-top: -570px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 507px){
  #alfred_hitchcock_title2{
    margin-top: -585px;
    transition: 0.6s;
  }
}

#alfred_hitchcock_description{
  padding: 0px;
  text-align: justify;
  margin-bottom: 50px;
}

@media screen and (max-width: 1147px){
  #alfred_hitchcock_description{
    margin-left: -30px;
    margin-right: -30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 925px){
  #alfred_hitchcock_description{
    margin-top: -30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 817px){
  #alfred_hitchcock_description{
    margin-top: -50px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #alfred_hitchcock_description{
    margin-left: 0px;
    margin-right: -70px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #alfred_hitchcock_description{
    margin-bottom: 100px;
    padding: 20px 0px;
    transition: 0.6s;
  }
}

#alfred_hitchcock_vid1{
  margin-top: -100px;
  margin-right: 20px;
}

@media screen and (max-width: 800px){
  #alfred_hitchcock_vid1{
    margin-top: 230px;
    margin-left: 0px;
    margin-right: 0px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #alfred_hitchcock_vid1{
    margin-top: 300px;
    transition: 0.6s;
  }
}

.sec2_column{
  float: left;
  width: 50%;
  padding: 0px 5px;
  margin-top: 100px;
}

@media screen and (max-width: 800px){
  .sec2_column{
    width: 100%;
  }
}

.sec2_row{
  padding: 70px 10px 0px 10px;
}

.sec2_row:after{
  content: "";
  display: table;
  clear: both;
}

#walt_disney_title{
  position: absolute;
  color: black;
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
  margin-top: -100px;
  margin-left: -26%;
  width: 100%;
  text-align: center;
  transition: 0.6s;
}

@media screen and (max-width: 800px){
  #walt_disney_title{
    margin-left: 0%;
    transition: 0.6s;
  }
}

#walt_disney_description{
  padding-left:60px;
  padding-bottom: 20px;
  margin-top:-90px;
  text-align: justify;
}

@media screen and (max-width: 1147px){
  #walt_disney_description{
    margin-left: -30px;
    margin-right: -30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 850px){
  #walt_disney_description{
    margin-left: -50px;
    margin-right: -50px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #walt_disney_description{
    margin-top: -130px;
    margin-left: -55px;
    margin-right: 0px;
    transition: 0.6s;
  }
}

iframe.responsive-iframe{
  width: 100%;
  height: 415px;
  margin-left: 30px;
  display: block;
  padding: 0px 10px;
}

@media screen and (max-width: 675px){
  iframe.responsive-iframe{
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 590px){
  iframe.responsive-iframe{
    width: 100%;
    height: 250px;
    padding: 0px;
  }
}

@media screen and (max-width: 550px){
  iframe.responsive-iframe{
    width: 100%;
    height: 200px;
  }
}

/* @media screen and (max-width: 800px){
  iframe.responsive-iframe{
    width: 560px;
    height: 315px;
  }
}

@media screen and (max-width: 700px){
  iframe.responsive-iframe{
    width: 460px;
    height: 270px;
  }
}

@media screen and (max-width: 600px){
  iframe.responsive-iframe{
    width: 380px;
    height: 215px;
  }
} */
