@charset "UTF-8";
/* CSS Document */

body, html{
  height: 100%;
  width: 100%;
  margin: 0;
}

*{
  box-sizing: border-box;
}

@media screen and (max-width: 990px){
  #sec1{
    height:100%;
    padding-top:100px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 765px){
  #sec1{
    padding-top:130px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 550px){
  #sec1{
    padding-top:150px;
    transition: 0.6s;
  }
}

.container{
  color: white;
  position: relative;
  text-align: center;
  transition: 0.6s;
}

.sec1_row{
  margin: -10px;
  padding-top: 80px;
  padding-bottom:30px;
}

.sec1_row:after{
  content: "";
  display: table;
  clear: both;
}

.sec1_column{
  float: left;
  padding: 5px 15px;
  width: 100%;
}

.quotes_text{
  width: 100%;
  font-size: 25px;
  line-height: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s;
}

@media screen and (max-width: 990px){
  .quotes_text{
    width: 90%;
    font-size: 20px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 765px){
  .quotes_text{
    font-size: 15px;
    transition: 0.6s;
  }
}

.increase_font_size{
  font-size: 40px;
  transition: 0.6s;
}

@media screen and (max-width: 990px){
  .increase_font_size{
    font-size: 30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 765px){
  .increase_font_size{
    font-size: 20px;
    transition: 0.6s;
  }
}
