@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
}

#symbols_title{
	color: black;
	padding-top: 50px;
	margin-left:52%;
	font-family: 'Meddon', cursive;
	font-size: 60px;
}

@media screen and (max-width: 1250px){
	#symbols_title{
		margin-left:44%;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1065px){
	#symbols_title{
		margin-left:35%;
		transition: 0.6s;
	}
}

@media screen and (max-width: 980px){
	#symbols_title{
		padding-top: 40px;
		margin-left:33%;
		font-size: 50px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 893px){
	#symbols_title{
		padding-top: 30px;
		margin-left: 28%;
		font-size: 45px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 710px){
	#symbols_title{
		padding-top: 20px;
		margin-left:-8%;
		transition: 0.6s;
	}
}

#dali_melting_clock{
	height: 900px;
	transition: 0.6s;
}

@media screen and (max-width: 1230px){
	#dali_melting_clock{
		height: 800px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1160px){
	#dali_melting_clock{
		height: 700px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1060px){
	#dali_melting_clock{
		height: 740px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 800px){
	#dali_melting_clock{
		height: 690px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 600px){
	#dali_melting_clock{
		height: 620px;
		transition: 0.6s;
	}
}

.sec1_column{
	float: left;
	padding: 10px;
}

.sec1_row{
	padding: 0px 150px;
	margin-top: -300px;
}

@media screen and (max-width: 1240px){
	.sec1_row{
		margin-top: -270px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1085px){
	.sec1_row{
		margin-top: -230px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 980px){
	.sec1_row{
		margin-top: -190px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 893px) {
	.sec1_row{
		padding: 0px 100px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 810px){
	.sec1_row{
		padding: 0px 70px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 755px){
	.sec1_row{
		margin-top: -170px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 710px){
	.sec1_row{
		padding: 0px 30px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 630px){
	.sec1_row{
		padding: 0px 5px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 548px){
	.sec1_row{
		margin-top: -140px;
		transition: 0.6s;
	}
}

.sec1_left{
	width: 55%;
}

.sec1_right{
	width: 45%;
}

#sec1_block_design_bkg{
	background-color: #EBCFC4;
	top: 0px;
	margin-left: 400px;
	padding: 10px;
	height: 410px;
	transition: 0.6s;
}

@media screen and (max-width: 1240px) {
	#sec1_block_design_bkg{
		height: 380px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1085px) {
	#sec1_block_design_bkg{
		height: 340px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 980px) {
	#sec1_block_design_bkg{
		height: 300px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 845px) {
	#sec1_block_design_bkg{
		margin-left: 300px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 755px) {
	#sec1_block_design_bkg{
		margin-left: 250px;
		height: 280px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 630px) {
	#sec1_block_design_bkg{
		margin-left: 200px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 548px) {
	#sec1_block_design_bkg{
		margin-left: 140px;
		height: 250px;
		transition: 0.6s;
	}
}

#sec1_block_design_text{
	position: relative;
	background-color: white;
	font-size: 15px;
	top: 200px;
	left: 0%;
	padding: 10px;
	height: 180px;
	transition: 0.6s;
}

@media screen and (max-width: 1240px) {
	#sec1_block_design_text{
		top: 180px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1085px) {
	#sec1_block_design_text{
		top: 140px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 980px) {
	#sec1_block_design_text{
		top: 90px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 893px) {
	#sec1_block_design_text{
		font-size: 14px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 755px) {
	#sec1_block_design_text{
		font-size: 13px;
		top: 85px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 710px) {
	#sec1_block_design_text{
		height: 160px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 610px) {
	#sec1_block_design_text{
		font-size: 12px;
		top: 90px;
		height: 150px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 548px) {
	#sec1_block_design_text{
		top: 60px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 508px) {
	#sec1_block_design_text{
		font-size: 12px;
		top: 38px;
		height: 180px;
		transition: 0.6s;
	}
}

.sec2_column{
	float: left;
	width: 50%;
	padding: 10px 20px;
	margin-bottom: 100px;
}

@media screen and (max-width: 1060px) {
	.sec2_column{
		width: 100%;
		padding: 0px 10px;
		transition: 0.6s;
	}
}

.sec2_row{
	padding: 0px 350px;
	margin-top: -270px;
}

@media screen and (max-width: 1400px) {
	.sec2_row{
		padding: 0px 300px;
		margin-top: -270px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1300px) {
	.sec2_row{
		padding: 0px 230px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1155px) {
	.sec2_row{
		margin-top: -220px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1060px) {
	.sec2_row{
		margin-top: -850px;
		padding: 0px 300px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1030px) {
	.sec2_row{
		margin-top: -780px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 945px) {
	.sec2_row{
		margin-top: -740px;
		padding: 0px 260px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 878px) {
	.sec2_row{
		margin-top: -690px;
		padding: 0px 260px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 845px) {
	.sec2_row{
		margin-top: -720px;
		padding: 0px 230px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 800px) {
	.sec2_row{
		padding: 0px 200px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 740px) {
	.sec2_row{
		padding: 0px 180px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 700px) {
	.sec2_row{
		padding: 0px 150px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 642px) {
	.sec2_row{
		padding: 0px 120px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 585px) {
	.sec2_row{
		padding: 0px 100px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 545px) {
	.sec2_row{
		padding: 0px 80px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 508px) {
	.sec2_row{
		padding: 0px 60px;
		transition: 0.6s;
	}
}

.sec2_row:after{
	content: "";
	display: table;
	clear: both;
	width: 45%;
}

#sec2_block_design_bkg{
	background-color: #EBCFC4;
	top: 0px;
	padding: 10px;
	height: 300px;
	transition: 0.6s;
}

@media screen and (max-width: 1155px) {
	#sec2_block_design_bkg{
		height: 250px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1060px) {
	#sec2_block_design_bkg{
		height: 730px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1030px) {
	#sec2_block_design_bkg{
		height: 690px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 945px) {
	#sec2_block_design_bkg{
		height: 600px;
		transition: 0.6s;
	}
}

#sec2_block_design_text_left{
	position: relative;
	background-color: white;
	font-size: 15px;
	top: -50px;
	padding: 10px;
	height: 150px;
	margin: 0px 20px;
	transition: 0.6s;
}

@media screen and (max-width: 1155px) {
	#sec2_block_design_text_left{
		font-size: 14px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1122px) {
	#sec2_block_design_text_left{
		font-size: 12px;
		height: 135px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1060px) {
	#sec2_block_design_text_left{
		font-size: 15px;
		height: 130px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 982px) {
	#sec2_block_design_text_left{
		font-size: 13px;
		transition: 0.6s;
	}
}

#sec2_block_design_text_right{
	position: relative;
	background-color: white;
	font-size: 15px;
	top: -50px;
	padding: 10px;
	height: 150px;
	margin: 0px 20px;
	transition: 0.6s;
}

@media screen and (max-width: 1155px) {
	#sec2_block_design_text_right{
		font-size: 14px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1122px) {
	#sec2_block_design_text_right{
		font-size: 12px;
		height: 135px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1060px) {
	#sec2_block_design_text_right{
		font-size: 15px;
		height: 130px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 982px) {
	#sec2_block_design_text_right{
		font-size: 13px;
		transition: 0.6s;
	}
}

#sec2_block_design2_bkg{
	padding: 10px;
	height: 250px;
	margin-left: 700px;
	transition: 0.6s;
	background-color: white;
}

@media screen and (max-width: 1275px) {
	#sec2_block_design2_bkg{
		margin-left: 600px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1150px) {
	#sec2_block_design2_bkg{
		margin-left: 550px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1060px) {
	#sec2_block_design2_bkg{
		margin-left: 520px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 986px) {
	#sec2_block_design2_bkg{
		margin-left: 500px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 847px) {
	#sec2_block_design2_bkg{
		margin-left: 420px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 743px) {
	#sec2_block_design2_bkg{
		height: 235px;
		margin-left: 400px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 648px) {
	#sec2_block_design2_bkg{
		height: 220px;
		margin-left: 370px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 545px) {
	#sec2_block_design2_bkg{
		height: 190px;
		margin-left: 320px;
		transition: 0.6s;
	}
}

#dali_crutches{
	height: 750px;
	transition: 0.6s;
}

@media screen and (max-width: 1275px) {
	#dali_crutches{
		height: 650px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1100px) {
	#dali_crutches{
		height: 530px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1025px) {
	#dali_crutches{
		height: 400px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 847px) {
	#dali_crutches{
		height: 380px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 743px) {
	#dali_crutches{
		height: 340px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 648px) {
	#dali_crutches{
		height: 290px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 610px) {
	#dali_crutches{
		height: 270px;
		transition: 0.6s;
	}
}

.sec3_column{
	float: left;
	padding: 10px;
	margin-top: 0px;
}

.sec3_row{
	padding: 0px 280px 0px 0px;
	margin-top: -250px;
	transition: 0.6s;
}

@media screen and (max-width: 1100px) {
	.sec3_row{
		padding: 0px 200px 0px 0px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1025px) {
	.sec3_row{
		margin-top: -310px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 986px) {
	.sec3_row{
		padding: 0px 150px 0px 0px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 790px) {
	.sec3_row{
		padding: 0px 60px 0px 0px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 743px) {
	.sec3_row{
		padding: 0px 20px 0px 0px;
		margin-right: 30px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 648px) {
	.sec3_row{
		padding: 0px;
		margin-right: 30px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 545px) {
	.sec3_row{
		margin-top: -280px;
		margin-right: 10px;
		transition: 0.6s;
	}
}

.sec3_left{
	width: 45%;
}

.sec3_right{
	width: 55%;
}

#sec3_block_design_text{
	position: relative;
	background-color: white;
	font-size: 15px;
	top: 330px;
	left: 280px;
	padding: 10px;
	width: 57%;
	height: 160px;
	transition: 0.6s;
}

@media screen and (max-width: 1275px) {
	#sec3_block_design_text{
		font-size: 14px;
		top: 300px;
		left: 240px;
		width: 63%;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1190px) {
	#sec3_block_design_text{
		font-size: 13px;
		top: 280px;
		left: 200px;
		width: 67%;
		height: 140px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1025px) {
	#sec3_block_design_text{
		font-size: 12px;
		top: 280px;
		left: 180px;
		width: 70%;
		height: 120px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 940px) {
	#sec3_block_design_text{
		font-size: 13px;
		top: 280px;
		left: 130px;
		width: 80%;
		height: 130px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 790px) {
	#sec3_block_design_text{
		left: 60px;
		width: 100%;
		transition: 0.6s;
	}
}

@media screen and (max-width: 700px) {
	#sec3_block_design_text{
		top: 230px;
		left: 50px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 648px){
	#sec3_block_design_text{
		left: 30px;
		width: 110%;
		height: 130px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 545px){
	#sec3_block_design_text{
		top: 200px;
		left: 10px;
		width: 125%;
		height: 140px;
		transition: 0.6s;
	}
}

#sec4{
	padding: 170px 50px 170px 60px;
}

@media screen and (max-width: 1105px){
	#sec4{
		padding: 120px 0px 120px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 700px){
	#sec4{
		padding: 120px 0px 90px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 600px){
	#sec4{
		padding: 120px 0px 40px 15px;
		transition: 0.6s;
	}
}

.sec4_column{
	float: left;
	width: 25%;
	height: 330px;
}

@media screen and (max-width: 1010px){
	.sec4_column{
		width: 50%;
		margin-bottom: 120px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 950px){
	.sec4_column{
		margin-bottom: 90px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 850px){
	.sec4_column{
		margin-bottom: 50px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 788px){
	.sec4_column{
		margin-bottom: 20px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 605px){
	.sec4_column{
		margin: -15px 0px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 550px){
	.sec4_column{
		margin: -28px 0px;
		transition: 0.6s;
	}
}

/* Clear floats after the columns */
.sec4_row:after{
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 1010px){
	.sec4_row{
		padding: 0px 50px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 722px){
	.sec4_row{
		padding: 0px;
		transition: 0.6s;
	}
}

.sec4_block_design_text{
	font-size: 15px;
	height: 180px;
	padding: 10px;
	margin: 75px 15px 10px 15px;
	background-color: white;
}

@media screen and (max-width: 1384px){
	.sec4_block_design_text{
		height: 200px;
		margin: 60px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1265px){
	.sec4_block_design_text{
		height: 220px;
		margin: 35px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1175px){
	.sec4_block_design_text{
		height: 250px;
		margin: 7px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 1010px){
	.sec4_block_design_text{
		height: 190px;
		margin: 130px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 950px){
	.sec4_block_design_text{
		margin: 110px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 850px){
	.sec4_block_design_text{
		margin: 90px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 788px){
	.sec4_block_design_text{
		margin: 75px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 722px){
	.sec4_block_design_text{
		margin: 70px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 605px){
	.sec4_block_design_text{
		margin: 50px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 565px){
	.sec4_block_design_text{
		height: 215px;
		margin: 30px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 550px){
	.sec4_block_design_text{
		height: 220px;
		margin: 25px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 545px){
	.sec4_block_design_text{
		height: 235px;
		margin: 15px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 520px){
	.sec4_block_design_text{
		margin: 8px 15px 10px 15px;
		transition: 0.6s;
	}
}

@media screen and (max-width: 510px){
	.sec4_block_design_text{
		margin: 3px 15px 10px 15px;
		transition: 0.6s;
	}
}
